<ion-view title="Favorites Venues" id="page15" style="background-color:#000808;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="logged.yourProfile" id="favoritesVenues-button24" class="button button-stable  button-block">Back to your profile!</a>
    <ion-list id="favoritesVenues-list6">
      <ion-item class="item-thumbnail-left item-icon-right" id="favoritesVenues-list-item26">
        <img src="img/7044cS5QTtGszYDte5UU_laDescarga.jpg">
        <h2>La Descarga</h2>
        <p style="white-space:normal;">A cuban bohemian theme speak easy place</p>
        <i class="icon ion-android-more-vertical"></i>
        <ion-option-button class="button-assertive">erase</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <ion-list id="favoritesVenues-list8">
      <ion-item class="item-thumbnail-left item-icon-right" id="favoritesVenues-list-item34">
        <img src="img/7044cS5QTtGszYDte5UU_laDescarga.jpg">
        <h2>La Descarga</h2>
        <p style="white-space:normal;">A cuban bohemian theme speak easy place</p>
        <i class="icon ion-android-more-vertical"></i>
        <ion-option-button class="button-assertive">erase</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <ion-list id="favoritesVenues-list7">
      <ion-item class="item-thumbnail-left item-icon-right" id="favoritesVenues-list-item35">
        <img src="img/7044cS5QTtGszYDte5UU_laDescarga.jpg">
        <h2>La Descarga</h2>
        <p style="white-space:normal;">A cuban bohemian theme speak easy place</p>
        <i class="icon ion-android-more-vertical"></i>
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>