<ion-view title="Here are your top results" id="page12" style="background-color:#000808;">
  <ion-content padding="true" class="has-header">
    <ion-list id="hereAreYourTopResults-list3">
      <ion-item class="item-thumbnail-left" id="hereAreYourTopResults-list-item10" ui-sref="logged.nameOfTheVenue">
        <h2>Result 1</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="hereAreYourTopResults-list-item11" ui-sref="logged.nameOfTheVenue">
        <h2>Result 2</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="hereAreYourTopResults-list-item12" ui-sref="logged.nameOfTheVenue">
        <h2>Result 3</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="hereAreYourTopResults-list-item13" ui-sref="logged.nameOfTheVenue">
        <h2>Result 4</h2>
      </ion-item>
    </ion-list>
    <div id="hereAreYourTopResults-button-bar1" class="button-bar">
      <button id="hereAreYourTopResults-button16" class="button button-stable  button-block">1</button>
      <button id="hereAreYourTopResults-button17" class="button button-stable  button-block">2</button>
      <button id="hereAreYourTopResults-button18" class="button button-stable  button-block">3</button>
    </div>
  </ion-content>
</ion-view>