<ion-view title="Here are your top results" id="page12" style="background-color:#000808;">
  <ion-content padding="true" class="has-header">
    <ion-list id="hereAreYourTopResults-list3">
      <ion-item class="item-thumbnail-left" id="hereAreYourTopResults-list-item10" ui-sref="logged.nameOfTheVenue({venue: venue})" ng-repeat='venue in venues'>
        <img width="40px" ng-src="{{venue.image_url}}">
        <h2 Strong>{{venue.name}}</h2>
        <ul>
          <li>Rating {{venue.rating}}</li>
          <li>Reviews {{venue.review_count}}</li>
          <li>Price {{venue.price}}</li>
        </ul>
        </ion-item>
    </ion-list>
    <div id="hereAreYourTopResults-button-bar1" class="button-bar">
      <button id="hereAreYourTopResults-button16" class="button button-stable  button-block">1</button>
      <button id="hereAreYourTopResults-button17" class="button button-stable  button-block">2</button>
      <button id="hereAreYourTopResults-button18" class="button button-stable  button-block">3</button>
    </div>
  </ion-content>
</ion-view>
