<ion-view title="{{venue.name}}" id="page13" style="background-color:#000808;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="nameOfTheVenue-card21">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="logged.venueDetails">
          <img height="30px" src="{{venue.image_url}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="nameOfTheVenue-list-item-container3">
        <div id="nameOfTheVenue-markdown4" class="show-list-numbers-and-dots">
        <p><span text-color='red'>Category | </span> {{venue.categories[0].title}}</p>
        <p> <span color='red'>Address | </span>{{venue.location.display_address[0]}}, {{venue.location.display_address[1]}}</p>
        </div>
      </div>
    </div>
    <form id="nameOfTheVenue-form7" class="list">
      <!-- <a ui-sref="logged.hereAreYourTopResults" id="nameOfTheVenue-button19" class="button button-stable  button-block">Back to search</a> -->
      <a ui-sref="logged.favoritesVenues" id="nameOfTheVenue-button31" class="button button-stable  button-block icon ion-android-favorite"> Save to favorites</a>
    </form>
  </ion-content>
</ion-view>
