<ion-view title="So, Where?" id="page11" style="background-color:#000808;">
  <ion-content padding="true" class="has-header">
    <form id="soWhere-form5" class="list">
      <div class="spacer" style="height: 100px;"></div>
      <label class="item item-select" id="soWhere-select2">
        <span class="input-label">Which rhythm</span>
        <select>
          <option></option>
          <option>Tango</option>
          <option>Salsa</option>
          <option>Bachata</option>
          <option>Merengue</option>
          <option>Swing</option>
          <option>Rock &amp; Roll</option>
        </select>
      </label>
      <label class="item item-input" id="soWhere-input13">
        <span class="input-label">Zip Code</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <a ui-sref="logged.hereAreYourTopResults" id="soWhere-button12" class="button button-stable  button-block">Search</a>
  </ion-content>
</ion-view>