<ion-view title="Your Profile" id="page10" style="background-color:#000808;">
  <ion-content padding="true" class="has-header">
    <form id="yourProfile-form4" class="list">
      <label class="item item-input" id="yourProfile-input7">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Your name">
      </label>
      <label class="item item-input" id="yourProfile-input8">
        <span class="input-label">Email</span>
        <input type="email" placeholder="ex@mple.com">
      </label>
      <label class="item item-input" id="yourProfile-input9">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="yourProfile-input10">
        <span class="input-label">Zip Code</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="yourProfile-select1">
        <span class="input-label">Your rhythm</span>
        <select>
          <option></option>
          <option>Merengue</option>
          <option>Tango</option>
          <option>Swinm</option>
          <option>Ballroom</option>
          <option>other</option>
          <option>Salsa</option>
        </select>
      </label>
    </form>
    <a ui-sref="logged.whereShallWeDance" id="yourProfile-button7" class="button button-stable  button-block">Save</a>
    <a ui-sref="logged.whereShallWeDance" id="yourProfile-button8" class="button button-stable  button-block">Back</a>
  </ion-content>
</ion-view>